<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login - Controle de Estoque</title>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>

    <h1>Controle de Estoque</h1>

    <h2>Login</h2>

    <form action="/login" method="POST">

        <label>Usuário:</label>
        <br>
        <input type="text" name="usuario">

        <br><br>

        <label>Senha:</label>
        <br>
        <input type="password" name="senha">

        <br><br>

        <button type="submit">Entrar</button>

    </form>

    <hr>

    <p>Usuários para teste:</p>

    <p>admin / 123</p>
    <p>maria / 123</p>
    <p>joao / 123</p>

</body>

</html>